{% extends 'base.html' %}

{% load static %}

{% block title %}
    Корзина
{% endblock %}

{% block content %}
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Кофе</th>
                <th scope="col">Картинка</th>
                <th scope="col">Количество</th>
                <th scope="col">Цена за шт</th>
                <th scope="col">Общая цена</th>
                <th scope="col">Удаление</th>
            </tr>
            </thead>
            <tbody>
            {% for item in basket %}
                {% with product_obj=item.coffee %}
                    <tr>
                        <td>
                            <a href="{{ product_obj.get_absolute_url }}">
                                {{ product_obj.name }}
                            </a>
                        </td>
                        <td>
                            {% if product_obj.photo %}
                                <img src="{{ product_obj.photo.url }}" class="card-img-top" alt="...">
                            {% else %}
                                <img src="{% static 'image/coffee.jpeg' %}" class="card-img-top" alt="...">
                            {% endif %}
                        </td>
                        <td> {{ item.count_prod }} </td>
                        <td scope="row"> {{ item.price_prod }} руб</td>
                        <td scope="row"> {{ item.total_price }} руб</td>
                        <td scope="row"><a href="{% url 'remove_basket_prod' product_obj.pk %}">Удалить</a></td>
                    </tr>
                {% endwith %}
            {% endfor %}
            <tr>
                <td>Всего:</td>
                <td colspan="3"></td>
                <td>{{ basket.get_total_price }} руб</td>
            </tr>
            </tbody>
        </table>

        <div>
            <a href="{% url 'list_coffee' %}" class="btn btn-success">Посмотреть меню</a>
            <a href="#" class="btn btn-warning">Оформить заказ</a>
            <a href="{% url 'clear_basket_prod' %}" class="btn btn-danger">Очистить корзину</a>
        </div>
    </div>
{% endblock %}